
body {
    max-width: 800px;
    margin: 0 auto;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: salmon;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-size: 4em;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    max-width: 800px;
}

#products {
    display: grid;
    grid-column: 1/9;
    grid-row: 1/2;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
}

#checkout {
    display: none;
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 2em;
}
#checkoutForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    flex: 1 1 25%;
}
#checkout input, textarea {
    line-height: 2em;
    width: 100%;
}

h3 {
    margin: 0 0;
}

.product {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 200px;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 10px;
    transition: .5s ease;
}

.product:hover {
    box-shadow: 0 0 0 10px #000000;
    transition: .5s ease;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.product img {
    width: 80px;
    height: auto;
}

#cart {
    grid-row: 1/2;
    grid-column: 5/9;
    justify-self: end;
    font-size: 2em;
}
#cartlist {
    display: none;
    width: 100%;
    flex-wrap: wrap;
}
#cartlist a {
    text-decoration: none;
    color: red;
}

.cart-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.invalid {
    border: 2px dashed red !important;;
}

#overlay {
    position: fixed;
    display: none;

    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 2;
}

#overlay .product {
    /*where it's placed*/
    grid-column: 1/3;
    grid-row: 1/4;

    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;

    background-color: white;
    width: 100%;

    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-auto-rows: auto;
    border-left: 5px solid gray;
    border-bottom: 5px solid gray;
}

#overlay .product button {
    width: 100px;
    height: 40px;
    align-self: end;
    justify-self: end;
}

#overlay .product .productImage {
    grid-column: 1/2;
    grid-row: 1/3;

    width: auto;
    height: 100%;
  }

#reviewContainer {
    margin-left: 10px;
    grid-column: 3/4;
    grid-row: 1/grid-row-end;
    background-color: white;
}

.review h4 {
    padding-left: 10px;
    background-color: gray;
    color: white;
    margin: 0 0;
    margin-bottom: 10px;
}
.author {
    float: right;
    margin-right: 10px;
}
.review div {
    padding-left: 10px;
}
.review {
    margin-top: 10px;
}

.leaveReview {
    margin-top: 5px;
}